*{
    box-sizing: border-box;
}

header{
    font-family: fantasy;
    color: azure;
    background-color: rgba(166, 0, 255, 0.803); opacity: 0.7;
    text-align: center;
    text-decoration: wavy;
    font-size: 50px;
    font-weight: 600;
    border-radius: 100vmax;
    border-style:groove double; 
    display: inline-block;
}
  

.heads{
    font-size: 25px;
    text-align: center;
}

p{
    color: burlywood;
    font-size: 20px;
    text-align: center;
    font-weight: 100;
}
body{  
    display: flexbox;
    position: relative;
    margin: 5px;
    height: 100vh;
    box-sizing: border-box;
    background:linear-gradient(180deg, rgba(106, 182, 0, 0.794), rgb(128, 92, 0)) fixed;
    overflow: 0px;
    background-image: url(../odin-recipies/images/flower.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}   

.sardinepik{
    width: 250px;
    height:250px;
    opacity: 0.9;
    filter:brightness(100nits);
    position: relative;
    border: #f2f2f21f;
    border-radius: 47px;
}

.tomatoespik{
    width: 250px;
    height:250px;
    opacity: 0.9;
    filter:brightness(100nits);
    position: relative;
    border: #f2f2f21f;
    border-radius: 47px;
    display: block;


}

.pholoriepik{
    width: 250px;
    height:250px;
    opacity: 0.9;
    filter:brightness(100nits);
    position: relative;
    border: #f2f2f21f;
    border-radius: 47px;
}

img{
    width: 250px;
    height:250px;
    opacity: 0.9;
    filter:brightness(100nits);
    border-radius: 47px;
    border-color: aquamarine;
    border-style: solid;
    background-repeat: no-repeat;
    position: relative;
    

}
 
.menu1{
    position: relative;
    width: auto;
}

.menu1overlay{
    position: absolute;
    top: 0;
    left:0;
    height: 250px;
    width: 250px;
    border-radius: 47px;
    background: rgba(0,0,0,0.6 );
    color:azure;
    font-family: fantasy;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.35s;
    backdrop-filter: blur 3px;

}
.menu1overlay:hover{
    opacity: 0.75;

}
.menu1overlay > *{
    transform: translateY(20px);
    transition: transform 0.35s;
}
.menu1overlay:hover > *{
    transform: translateY(0);
}
.menu1title{
    font-size: 2em;
    font-weight: bold
}

.menu1description{
    font-size: 15px;
    margin-top: 0.25em;
}

.menu2{
    position: relative;
    width: auto;
}

.menu2overlay{
    position: absolute;
    top: 0;
    left:0;
    height: 250px;
    width: 250px;
    border-radius: 47px;
    background: rgba(0,0,0,0.6 );
    color:azure;
    font-family: fantasy;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.35s;
    backdrop-filter: blur 3px;

}
.menu2overlay:hover{
    opacity: 0.75;

}
.menu2overlay > *{
    transform: translateY(20px);
    transition: transform 0.35s;
}
.menu2overlay:hover > *{
    transform: translateY(0);
}
.menu2title{
    font-size: 2em;
    font-weight: bold
}

.menu2description{
    font-size: 15px;
    margin-top: 0.25em;
}

.menu3{
    position: relative;
    width: auto;
}

.menu3overlay{
    position: absolute;
    top: 0;
    left:0;
    height: 250px;
    width: 250px;
    border-radius: 47px;
    background: rgba(0,0,0,0.6 );
    color:azure;
    font-family: fantasy;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.35s;
    backdrop-filter: blur 3px;

}
.menu3overlay:hover{
    opacity: 0.75;

}
.menu3overlay > *{
    transform: translateY(20px);
    transition: transform 0.35s;
}
.menu3overlay:hover > *{
    transform: translateY(0);
}
.menu3title{
    font-size: 2em;
    font-weight: bold
}

.menu3description{
    font-size: 15px;
    margin-top: 0.25em;
}